# Porta em que o servidor Express vai escutar
PORT=3000

# Connection string do Neon — copie do dashboard do Neon
DATABASE_URL="postgresql://neondb_owner:npg_6kDRLj0sIdSr@ep-hidden-dust-achk1588-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"